<div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Lista de vendas
    </div>
    <div class="card-body">
        <table class="table table-striped" id="table-clients" class="display" style="width:100%">
            <thead>
                <tr class="table-secondary">
                    <td class="col">Cliente</td>
                    <td class="col">Produto</td>
                    <td class="col">Código do produto</td>
                    <td class="col">Vendido em</td>
                    <td class="col" colspan="2">Nota fiscal</td>
                </tr>
            </thead>
            <tbody>
                {% for venda in vendas %}
                <tr>
                    {% if venda.cliente.id %}
                        <td class="col"><a class="link-dark" href="{% url 'clients:detail_client' venda.cliente.id %}">{{venda.cliente}}</a></td>
                    {% else %}
                        <td class="col">-----------------</td>
                    {% endif %}
                    <td class="col">{{ venda.produto }}</td>
                    <td class="col">{{venda.produto.codigo_produto}}</td>
                    <td class="col">{{venda.saled_at}}</td>
                    <td><a href="{% url 'sales:down_nota_fiscal' venda.id %}" target="_blank">Baixar</a></td>
                    <td><a href="{% url 'sales:view_nota_fiscal' venda.id %}" target="_blank">Visualizar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>