{% extends 'global/base_nav.html' %}

{% block title %} {{ cliente.nome }} |{% endblock title %}

{% block content %}
    <h1 class="mt-4">{{ cliente.nome }} {{ cliente.sobrenome }}</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{% url 'clients:clients' %}">Clientes</a></li>
        <li class="breadcrumb-item active">Detalhes</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-user me-1"></i>
            Dados
        </div>
        <div class="card-body">
            <p>
                <ul>
                    <li><strong>Telefone:</strong> {{ cliente.telefone }}</li>
                    <li><strong>Email:</strong> {{ cliente.email }}</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-user me-1"></i>
            Compras
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="table-primary">
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Data da venda</th>
                    <th scope="col">Valor da venda</th>
                </tr>
            </thead>
            <tbody>
                {% for compra in compras %}
                <tr>
                    <td><a class="link-dark" href="{% url 'products:detail_product' compra.produto.id %}">{{ compra.produto.marca }} {{ compra.produto.modelo }}</a></td>
                    <td>{{ compra.saled_at }}</td>
                    <td>R$ {{ compra.valor_venda }}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    <div style="height: 100vh"></div>
    <div class="card mb-4"><div class="card-body">When scrolling, the navigation stays at the top of the page. This is the end of the static navigation demo.</div></div>
{% endblock content %}