{% extends 'global/base_nav.html' %}
{% load crispy_forms_tags %}

{% block title %}Produtos |{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Produtos</h1>
        <h3>Adicione o celular:</h3>
        <form class="row gx-3 gy-2 align-items-center" action="{% url 'imports:products' %}" method="POST">
            {% csrf_token %}
            {% include 'global/partials/messages.html' %}
            <div class="col-sm-3">
              {{ form.modelo|as_crispy_field }}
            </div>
            <div class="col-sm-2">
              {{ form.cor|as_crispy_field }}
            </div>
            <div class="col-sm-2">
              {{ form.memoria|as_crispy_field }}
            </div>
            <div class="col-sm-2">
              {{ form.armazenamento|as_crispy_field }}
            </div>
            <div class="col-12 mt-3">
              <button type="submit" class="btn btn-primary">Adicionar</button>
            </div>
        </form>
        <br><br>
        <div>
            <h3>Lista de celulares:</h3>
            <table class="table table-striped">
              <tr>
                <td>Modelo</td>
                <td>Cor</td>
                <td>Memória</td>
                <td>Armazenamento</td>
                <td>Ações</td>
              </tr>
              {% for produto in produtos %}
              <tr>
                <td>{{ produto.modelo }}</td>
                <td>{{ produto.cor }}</td>
                <td>{{ produto.memoria }}Gb RAM</td>
                <td>{{ produto.armazenamento }}Gb ROM</td>
                <td><a href="#" class="link-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-trash-can"></i></a></td>
                <!-- Modal -->
                <form action="{% url 'imports:delete_product' produto.id %}" method="POST">
                  {% csrf_token %}
                  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">Confirmação</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p class="text-center">Tem certeza que deseja deletar esse registro?<p> 
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                          <button type="submit" class="btn btn-danger">Deletar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </tr>
              {% endfor %}
            </table>
        </div>
    </div>
    
{% endblock content %}