{% extends 'global/base_nav.html' %}
{% load crispy_forms_tags %}

{% block title %}Produtos |{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Produtos</h1>
        <h3>Adicione o celular:</h3>
        <form class="row gx-3 gy-2 align-items-center" action="#" method="POST">
            {% csrf_token %}
            {% include 'global/partials/messages.html' %}
            <div class="col-sm-3">
              {{ form.modelo|as_crispy_field }}
            </div>
            <div class="col-sm-2">
              {{ form.cor|as_crispy_field }}
            </div>
            <div class="col-sm-2">
              {{ form.memoria|as_crispy_field }}
            </div>
            <div class="col-sm-2">
              {{ form.armazenamento|as_crispy_field }}
            </div>
            <div class="col-12 mt-3">
              <button type="submit" class="btn btn-primary">Adicionar</button>
            </div>
        </form>
        <br><br>
        <div>
            <h3>Lista de celulares:</h3>
            <table class="table table-striped">
              <tr>
                <td>Modelo</td>
                <td>Cor</td>
                <td>Memória</td>
                <td>Armazenamento</td>
              </tr>
              {% for produto in produtos %}
              <tr>
                <td>{{ produto.modelo }}</td>
                <td>{{ produto.cor }}</td>
                <td>{{ produto.memoria }}Gb RAM</td>
                <td>{{ produto.armazenamento }}Gb ROM</td>
              </tr>
              {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}