{% extends 'global/base_nav.html' %}

{% block title %}Produtos |{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Produtos</h1>
        <h3>Adicione produtos:</h3>
        <form class="row gx-3 gy-2 align-items-center" action="#" method="POST">
            {% csrf_token %}
            {% include 'global/partials/messages.html' %}
            <div class="col-sm-3">
              <label class="form-label" for="specificSizeInputName">Modelo</label>
              <input type="text" class="form-control" id="specificSizeInputName" name="modelo">
            </div>
            <div class="col-sm-2">
              <label class="form-label" for="specificSizeInputGroupUsername">Cor</label>
              <input type="text" class="form-control" id="specificSizeInputGroupUsername" name="cor">
            </div>
            <div class="col-sm-2">
              <label class="form-label" for="specificSizeSelect">Memória</label>
              <select class="form-select" id="specificSizeSelect" name="memoria">
                <option selected>------</option>
                <option value="1">2Gb RAM</option>
                <option value="2">4Gb RAM</option>
                <option value="3">8Gb RAM</option>
              </select>
            </div>
            <div class="col-sm-2">
                <label class="form-label" for="specificSizeSelect">Armazenamento</label>
                <select class="form-select" id="specificSizeSelect" name="armazenamento">
                    <option selected>------</option>
                    <option value="1">32Gb ROM</option>
                    <option value="2">64Gb ROM</option>
                    <option value="3">128Gb ROM</option>
                </select>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary">Adicionar</button>
            </div>
        </form>
        <br><br>
        <div>
            <h2>Listando produtos:</h2>
            <table class="table table-striped">
              <tr>
                <td>Modelo</td>
                <td>Cor</td>
                <td>Memória</td>
                <td>Armazenamento</td>
              </tr>
              {% for produto in produtos %}
              <tr>
                <td>{{ produto.modelo }}</td>
                <td>{{ produto.cor }}</td>
                <td>{{ produto.memoria }}</td>
                <td>{{ produto.armazenamento }}</td>
              </tr>
              {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}