{% extends 'global/base_nav.html' %}
{% load crispy_forms_tags %}

{% block title %}Produtos |{% endblock title %}

{% block content %}

      <h1 class="mt-4">Produtos</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Gerencie seus produtos</li>
        </ol>

        
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-box-open me-1"></i>
            Edite o produto
          </div>
          <div class="card-body">
            <form class="row gx-3 gy-2 align-items-center" action="{% url 'products:edit_product' produto.id %}" method="POST">
                {% csrf_token %}
                {% include 'global/partials/messages.html' %}
                <div class="col-sm-3">
                  {{ form.marca|as_crispy_field }}
                </div>
                <div class="col-sm-3">
                  {{ form.modelo|as_crispy_field }}
                </div>
                <div class="col-sm-2">
                  {{ form.cor|as_crispy_field }}
                </div>
                <div class="col-sm-2">
                  {{ form.memoria|as_crispy_field }}
                </div>
                <div class="col-sm-2">
                  {{ form.armazenamento|as_crispy_field }}
                </div>
                <div class="col-sm-2">
                  {{ form.codigo_produto|as_crispy_field }}
                </div>
                <div class="col-sm-2">
                  {{ form.valor_compra|as_crispy_field }}
                </div>
                <div class="col-12 mt-3">
                  <a href="{% url 'products:products' %}" class="btn btn-danger" >Cancelar</a>
                  <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
          </div>
        </div>

        {% include 'products/list_products.html' %}
    
{% endblock content %}